
.idea/.name
.idea/.name
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
*.class
.idea/misc.xml
.idea/workspace.xml
qaml_primerselenium_local.properties
pom.xml
qaml_primerselenium_local.properties
test-output/Elements Tests/C__Users_judli_repositorio_github_QAML_PrimerSelenium_JDK8_QAML_PrimerSelenium.xml
qaml_primerselenium_local.properties
test-output/junitreports/TEST-DemoQAHomeTest.xml
test-output/junitreports/TEST-PrimerTest.xml
test-output/junitreports/TEST-YouTubeTests.xml
test-output/testng-results.xml
