
.idea/.name
.idea/.name
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
*.class
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
qaml_primerselenium_local.properties
.idea/misc.xml
